@use '../abstracts' as *;

:root {
    --background-active: #{$color-light};
    --contrast-active: #{$color-dark};
    --color-active: #{$color-secondary};
    --gradient-active: #{$gradient-secondary};

    @media (prefers-color-scheme: dark) {
        --background-active: #{$color-dark};
        --contrast-active: #{$color-light};
        --color-active: #{$color-tertiary};
        --gradient-active: #{$gradient-tertiary};
    }
}

body {
    background-color: var(--color-active);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    > main {
        background-color: var(--background-active);
    }
}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}
