@use '../abstracts' as *;

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

/* poppins-300 - latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-300italic - latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-300italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-800 - latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('https://hi.alexmenger.me/assets/poppins/poppins-v20-latin-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    color: var(--contrast-active);
    font-family: Poppins, system-ui, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    color: var(--color-active);
    font-size: 3.6rem;
    margin-bottom: map-get($sizes, 'lg');

    @include breakpoint-min('tab-land') {
        font-size: 4.8rem;
        margin-bottom: map-get($sizes, 'xl');
    }

    @at-root .bg-gradient & {
        color: $color-primary;
    }
}

h3 {
    font-size: 3.2rem;
    margin: map-get($sizes, 'sm') 0;

    @include breakpoint-min('tab-land') {
        font-size: 3.6rem;
        margin-bottom: map-get($sizes, 'lg');
    }
}

p {
    a {
        &:link,
        &:visited,
        &:hover,
        &:active {
            border-radius: 0.2rem;
            color: var(--color-active);
            font-weight: 800;
            padding: 0.2rem;
            text-decoration: none;
        }

        &:hover {
            background-color: rgba($color-primary, 0.25);
        }

        &:active {
            background-color: rgba($color-primary, 0.5);
        }
    }
}
