@use 'variables' as *;

@mixin breakpoint-min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

// Default paddings, responsive

@mixin padding-default {
    padding: map-get($sizes, 'lg') map-get($sizes, 'sm');

    @include breakpoint-min('tab-port') {
        padding: map-get($sizes, 'xl') map-get($sizes, 'lg');
    }
}

@mixin padding-default-x {
    padding: 0 map-get($sizes, 'sm');

    @include breakpoint-min('tab-port') {
        padding: 0 map-get($sizes, 'lg');
    }
}

@mixin padding-inline {
    padding: map-get($sizes, 'sm');
    @include breakpoint-min('tab-port') {
        padding: map-get($sizes, 'sm') map-get($sizes, 'lg');
    }
}

// Default UI font style

@mixin ui-font-style {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

// Navigation links

@mixin nav-links {
    a {
        padding: 0.3rem;
        transition: translateY 0.2s ease-in;

        &:link,
        &:visited,
        &:hover,
        &:active {
            align-items: center;
            color: inherit;
            display: flex;
            text-decoration: none;
        }

        @media (hover: hover) {
            &:hover {
                transform: translateY(-0.1rem);
                color: $color-primary;
            }
        }
    }
}
