@use '../abstracts' as *;

.cardview {
    perspective: 100rem;
}

.card {
    background: var(--gradient-active);
    border-radius: map-get($sizes, 'xs');
    box-shadow: 0 0 0.5rem $color-secondary-light;
    padding: map-get($sizes, 'lg');
    backface-visibility: hidden;
    color: $color-light;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    overflow: hidden;
    position: relative;
    transform: translateY(map-get($sizes, 'sm'));
    text-align: center;
    transition: all 0.2s ease-out;
    transform-style: preserve-3d;

    .btn {
        color: $color-dark;
    }

    @media (hover: hover) {
        transform: none;
        top: map-get($sizes, 'sm');

        &:hover {
            .btn--primary {
                background-position: left;
                box-shadow: 0 0 0.5rem $color-primary;
            }
        }

        &.bottom-right:hover {
            box-shadow: -0.2rem -0.2rem 1rem $color-secondary-light;
            transform: rotateX(-1deg) rotateY(1deg);
            @media (prefers-color-scheme: dark) {
                box-shadow: -0.2rem -0.2rem 1rem $shade-09;
            }
        }

        &.bottom-left:hover {
            box-shadow: 0.2rem -0.2rem 1rem $color-secondary-light;
            transform: rotateX(-1deg) rotateY(-1deg);
            @media (prefers-color-scheme: dark) {
                box-shadow: 0.2rem -0.2rem 1rem $shade-09;
            }
        }

        &.top-left:hover {
            box-shadow: 0.2rem 0.2rem 1rem $color-secondary-light;
            transform: rotateX(1deg) rotateY(-1deg);
            @media (prefers-color-scheme: dark) {
                box-shadow: 0.2rem 0.2rem 1rem $shade-09;
            }
        }

        &.top-right:hover {
            box-shadow: -0.25rem 0.25rem 1rem $color-secondary-light;
            transform: translateY(0rem) rotateX(1deg) rotateY(1deg) !important;
            @media (prefers-color-scheme: dark) {
                box-shadow: -0.25rem 0.25rem 1rem $shade-09;
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 0.5rem $shade-09;
    }

    &__background {
        filter: blur(0.4rem);
        height: auto;
        left: -30%;
        object-fit: cover;
        max-width: 100rem;
        mix-blend-mode: multiply;
        object-position: center;
        opacity: 0.8;
        position: absolute;
        top: -30%;
        width: 200%;
    }

    &__btn-container {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        z-index: 10;
    }

    &__caption {
        z-index: 10;
    }

    h3 {
        color: inherit;
        font-size: 2.4rem;
        margin-bottom: map-get($sizes, 'sm');
    }
}
