@use '../abstracts/' as *;

.modal__form {
    &--grid {
        display: grid;
        gap: 0 map-get($sizes, 'sm') * 1.5;
        grid-template-columns: 1fr;

        @include breakpoint-min('tab-land') {
            grid-template-columns: 1fr 1fr;

            .input-wrapper.textarea {
                grid-column: 1 / span 2;
            }
        }
    }

    p {
        font-weight: 600;
        margin-bottom: map-get($sizes, 'lg');
        text-align: center;
    }

    .input-wrapper {
        margin-bottom: map-get($sizes, 'sm') * 1.5;
        position: relative;

        input,
        textarea {
            background-color: transparent;
            border: 0.1rem solid $shade-06;
            border-radius: map-get($sizes, 'sm');
            color: inherit;
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            margin-top: 2.8rem;
            padding: map-get($sizes, 'xs') map-get($sizes, 'sm');
            width: 100%;

            &:focus {
                border-color: var(--color-active);
                caret-color: var(--color-active);
                outline: none;

                + label {
                    color: var(--color-active);
                    left: 0;
                    top: 0;
                }
            }

            &:not(:placeholder-shown) {
                + label {
                    left: 0;
                    top: 0;
                }
            }

            &::placeholder {
                opacity: 0;
            }
        }

        textarea {
            min-height: map-get($sizes, 'xl') * 2;
            resize: none;
        }

        label {
            color: $shade-06;
            font-size: 1.6rem;
            font-weight: 600;
            left: map-get($sizes, 'sm');
            position: absolute;
            top: 3.9rem;
            transition: all 0.15s ease-in;
            z-index: -10;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
    }

    button {
        margin-top: map-get($sizes, 'lg');
        width: 100%;

        @include breakpoint-min('tab-port') {
            width: auto;
        }

        i.bi {
            display: inline-block;
            margin-right: map-get($sizes, 'xs');
        }
    }

    .error-container {
        color: $color-tertiary;
        margin-left: map-get($sizes, 'sm');

        i.bi {
            display: inline-block;
            margin-right: map-get($sizes, 'xs');
        }
    }
}

.modal__sent {
    align-items: center;
    display: flex;
    flex-direction: column;

    i.bi {
        color: $color-primary;
        font-size: 8rem;
    }

    p {
        margin-top: map-get($sizes, 'sm');
    }

    button {
        margin-top: map-get($sizes, 'lg');
        width: 100%;

        @include breakpoint-min('tab-port') {
            width: auto;
        }
    }
}
