@use '../abstracts' as *;

.whatido {
    .cardview {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(36rem, 1fr);
        gap: map-get($sizes, 'lg');
        list-style: none;

        @include breakpoint-min('tab-port') {
            grid-template-columns: 1fr 1fr;
        }
    }

    .codeview {
        animation: fade-in-up 0.3s ease-out both;
        background: linear-gradient(180deg, var(--color-active) 0%, var(--color-active) 2rem, transparent 2rem);
        border: 0.1rem solid var(--color-active);
        border-radius: map-get($sizes, 'xs');
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        transform: translateZ(0); /* Make overflow work in Safari */
        position: relative;

        @include breakpoint-min('tab-port') {
            grid-template-columns: 1fr 1fr;
        }

        h3 {
            background-color: var(--color-active);
            margin-bottom: 0;
            margin-top: 0;
            text-align: center;

            @include padding-inline;

            @include breakpoint-min('tab-port') {
                text-align: left;
            }
        }

        ul {
            line-height: 1.35;
            list-style: none;
            padding: map-get($sizes, 'sm') map-get($sizes, 'sm') map-get($sizes, 'lg');

            @include breakpoint-min('tab-port') {
                padding: map-get($sizes, 'lg');
            }
        }

        em {
            color: var(--color-active);
            font-weight: 600;
            font-style: normal;
        }

        &__list {
            li {
                padding-left: 3.4rem;
                position: relative;

                &:not(:last-child) {
                    margin-bottom: map-get($sizes, 'sm');
                }

                &::before {
                    color: $color-primary;
                    content: '{}';
                    font-size: 2.2rem;
                    font-weight: 600;
                    left: 0;
                    position: absolute;
                    top: -0.3rem;
                }
            }
        }

        &__backend {
            h3 {
                transform: rotateY(180deg);
            }

            @include breakpoint-min('tab-port') {
                border-left: 0.1rem solid var(--color-active);
            }
        }

        &__frontend {
            @include breakpoint-min('tab-port') {
                border-right: 0.1rem solid var(--color-active);
            }
        }

        &__projects {
            grid-column: 1 / -1;

            h3 {
                align-items: center;
                display: flex;
                font-size: 2.4rem;
                justify-content: center;

                @include breakpoint-min('tab-port') {
                    justify-content: space-between;
                }

                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: $color-primary;
                    margin-left: map-get($sizes, 'lg');
                }
            }

            h4 {
                color: var(--color-active);
                margin-bottom: map-get($sizes, 'sm');
            }

            &-container {
                display: grid;
                grid-template-columns: 1fr;
                gap: map-get($sizes, 'lg') map-get($sizes, 'xl');

                @include breakpoint-min('tab-port') {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        &__card {
            &:not(:last-child) {
                border-bottom: 0.2rem solid $color-primary;
                padding-bottom: map-get($sizes, 'lg');
            }

            @include breakpoint-min('tab-port') {
                &:nth-last-child(2) {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }

            img {
                border-radius: map-get($sizes, 'sm');
                height: 8rem;
                object-fit: cover;
                object-position: center;
                width: 8rem;

                @include breakpoint-min('tab-port') {
                    height: 10.2rem;
                    width: 10.2rem;
                }
            }

            ul {
                padding: 0;
                display: flex;
            }

            .card__content {
                display: flex;
                gap: map-get($sizes, 'sm');
            }

            .card__description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                ul {
                    margin-top: map-get($sizes, 'xs');
                }

                a {
                    transition: translateY 0.2s ease-in;
                    display: inline-block;

                    &:link,
                    &:visited,
                    &:hover,
                    &:active {
                        color: inherit;
                        font-weight: 600;
                        text-decoration: none;
                    }

                    @media (hover: hover) {
                        &:hover {
                            transform: translateY(-0.1rem);
                        }
                    }
                }

                i {
                    display: inline-block;
                    margin-right: map-get($sizes, 'xs');
                }
            }

            .card__demo {
                margin-right: map-get($sizes, 'lg');
            }
        }

        code {
            background-color: $shade-01;
            border-radius: 0.4rem;
            padding: 0.1rem 0.3rem;
            display: inline;
            font-family: 'Courier New', Courier, monospace;
            font-size: inherit;
            line-height: inherit;

            @media (prefers-color-scheme: dark) {
                background-color: $shade-08;
            }
        }
    }
}
