@use '../abstracts' as *;

.whyicare {
    &__container {
        display: grid;
        gap: map-get($sizes, 'xl');
        grid-template-columns: 1fr;

        @media (min-width: 25em) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include breakpoint-min('tab-land') {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__item {
        color: $color-light;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        gap: map-get($sizes, 'lg');
        line-height: 1.7;
        opacity: 0.4;
        text-align: center;
        transform: translateY(map-get($sizes, 'sm'));

        img {
            border-radius: 50%;
            box-shadow: 0 0 map-get($sizes, 'xs') $shade-08;
            margin: 0 auto;
            width: 80%;
            transition: transform 0.15s ease-out;
        }

        @media (hover: hover) {
            &:hover img {
                transform: scale(1.15) rotate(7deg);
                transform-origin: center;
            }
        }
    }
}
