@use '../abstracts' as *;

.footer {
    color: $color-light;

    &.row.bg-gradient {
        clip-path: none;
        padding-top: map-get($sizes, 'lg');
    }

    section {
        align-items: start;
        display: grid;
        gap: map-get($sizes, 'lg') * 1.5;
        grid-auto-flow: column;
        grid-template-rows: auto auto auto;

        @include breakpoint-min('tab-port') {
            gap: map-get($sizes, 'sm');
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }
    }

    ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: map-get($sizes, 'sm');
        line-height: 1.35;
        list-style: none;
        font-weight: 600;
        text-transform: uppercase;

        @include nav-links;

        @include breakpoint-min('tab-port') {
            flex-direction: row;
        }
    }

    nav {
        @include breakpoint-min('tab-port') {
            grid-column: 1 / 2;
            grid-row: 1;
        }
    }

    &__madewith {
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        justify-content: center;
        gap: map-get($sizes, 'xs');

        @include breakpoint-min('tab-port') {
            grid-column: 3 / 4;
            grid-row: 1;
            justify-content: flex-end;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;

        @include breakpoint-min('tab-port') {
            grid-column: 2 / 3;
            grid-row: 1;
        }
    }
}
