@use '../abstracts/' as *;

.row {
    &.bg-gradient {
        background-image: var(--gradient-active);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - map-get($sizes, 'lg')), 0 100%);

        @include breakpoint-min('tab-port') {
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - map-get($sizes, 'lg') * 1.5), 0 100%);
        }

        section {
            padding-bottom: map-get($sizes, 'xl') * 1.5;
        }
    }

    > section {
        margin: 0 auto;
        width: 100%;
        max-width: $max-width;

        @include padding-default;
    }
}
